{% extends 'base.html.twig' %}

{% block body %}
    <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" width="300" height="200">
    <h1>About Us</h1>
     
    <p>Ahmed Mejdi, étudiant à l'ISET Tozeur en 2ème année TI, spécialité DSI.</p>
    
    <p>This is the about page.</p>

   

    <a href="{{ path('app_pages') }}">Back to Home</a>
{% endblock %}
