{% extends 'base.html.twig' %}

{% block body %}
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXnx6hOmQ5VfLntMSoiGrwtCnEMtfzNDS4Gg&s">
    <p>Hello from REDEYEF</p>
    <p>It's currently {{ 'now'|date('h:i A') }}</p>
    <a href="{{ path('app_about') }}">About Us</a>
{% endblock %}